*{
    margin:0;
    padding: 0;
  }

  .main{
    position:relative;
  
  }
  
  .main::before{
    content:"";
    background-image: url(bus_logo.png);
    background-attachment: fixed;
    background-position: center;
    background-size: 122% 112%;
    background-color:antiquewhite;
    position:absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right:0px;
    opacity:0.1;
    
  
  }



  
  .navbar{
    position: relative;
    width: 1200px;
    height: 75px;
    margin-top: 50px;
    margin-left: 15px;
  }
  
  .logo{
    color: #0f1419;
    font-size: 27px;
    font-family: Arial;
    background-color: #ff781f;
    border: none;
    border-radius: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
    margin-top: 10px;
    /*width: 200px;
    height: 70px;*/
  }
  
  
  
  .menu{
    
    width: 400px;
    float: left;
    height: 70px;
  }
  
  ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
  }
  
  ul li a{
    text-decoration: none;
    color: #0f1419;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
  }
  
  
  ul li a:hover{
    color: #ff781f;
  }
  
  
  
  .search{
    width: 330px;
    float: left;
    margin-left: 270px;
  }
  
  .srch{
    font-family: 'Times New Roman';
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid #ff781f;
    margin-top: 13px;
    color: #0f1419;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
  
  }
  
  .btn{
    width: 100px;
    height: 40px;
    background: #ff781f;
    border: 2px solid #ff781f;
    margin-top: 13px;
    color: #fff;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: 0.2s ease;
    cursor: pointer;
  }
  .btn:hover{
    color: #0f1419;
  }
  
  .btn:focus{
    outline: none;
  }
  
  .srch:focus{
    outline: none;
  }
  
  .content{
    position: relative;
    width: 1200px;
    height: auto;
    margin:auto;
    color: #0f1419;
  }
  
  .content .par{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
  }
  
  .content h1{
    font-family: 'Times New Roman';
    font-size: 50px;
    padding-left: 30px;
    padding-bottom: 10px;
    margin-top: 70px;
    letter-spacing: 2px;
  }
  
  .content .cn{
    width: 160px;
    height: 40px;
    background: #ff781f;
    border: none;
    margin-bottom: 50px;
    margin-top: 17px;
    margin-left: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s ease;
    
  }
  
  .content .cn a{
    font-weight: bold;
    text-decoration: none;
    color: #0f1419;
    transition: .3s ease;
  }
  
  .cn:hover{
    background-color:#f5c77e;
  }
  
  .content span{
    color: #ff7200;
    font-size: 65px
  }
  
  .form{
    width: 250px;
    height: 380px;
    background: linear-gradient(to top, rgba(183, 74, 55, 0.8)50%,rgba(183,74,55,0.8)50%);
    position: absolute;
    top: -20px;
    left: 870px;
    transform: translate(0%,-5%);
    border-radius: 10px;
    padding: 25px;
  }
  
  .form h2{
    width: 220px;
    font-family: sans-serif;
    text-align: center;
    color: #ff7200;
    font-size: 22px;
    background-color: #fff;
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
  }
  
  .form input{
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid #ff7200;
    border-top: none;
    border-right: none;
    border-left: none;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
  }
  
  .form input:focus{
    outline: none;
  }
  
  
  
  .btnn{
    width: 240px;
    height: 40px;
    background: #ff7200;
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    transition: 0.4s ease;
  }
  .btnn:hover{
    background: #fff;
    color: #ff7200;
  }
  .btnn a{
    text-decoration: none;
    color: #0f1419;
    font-weight: bold;
  }
  .form .link{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    padding-top: 20px;
    text-align: center;
  }
  .form .link a{
    text-decoration: none;
    color: antiquewhite;
  }
  .form .link a:hover{
    color:#ff7200;
  }
  .liw{
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
  }
  .icons a{
    text-decoration: none;
    color: #0f1419;
  }
  .icons ion-icon{
    color: #fff;
    font-size: 30px;
    padding-left: 26px;
    padding-top: 5px;
    transition: 0.9s ease;
  }
  .icons ion-icon:hover{
    color: #ff7200;
  }
  
  
  .abt{
    
    margin-left: 20px;
    margin-top: 10px;
    margin-right: 20px;
    position: relative;
  }
  
  .container {
    position: relative;
    text-align: center;
    color: white;
  }
  
  .stand{
  margin-bottom: 5px;
  }
  
  
  
  /* Top left text */
  .top-left {
    position: absolute;
    top: 8px;
    left: 26px;
    
  }
  
  .sustain{
  
    font-family:"Helevetica";
  }

  
#preloader{

    background: #ff7200;
    height:100vh;
    width:100%;
    position:fixed;
    z-index: 100;
}

#loading{
    position: left;
    text-size-adjust:500%; 
}

.btnnn{
    width: 240px;
    height: 40px;
    background: #000000;
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    transition: 0.4s ease;
    margin-left: 42%;
  }
  .btnnn:hover{
    background: rgb(110, 95, 88);
    color: #ff7200;
  }
  .btnnn a{
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
  }

  #load{
  display: block;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  }

  #preloader2{

    background:#fff url(ballload.gif) no-repeat center center;
    height:100vh;
    width:100%;
    position:fixed;
    z-index: 100;
}
