{% include "bootstrap.html" %}

{% include "nav.html" %}

<div class="container ">
    <div style="height:5px"></div>
    <div class="waviy1"><p>
      <span style="--i:1">A</span>
      <span style="--i:2">b</span>
      <span style="--i:3">o</span>
      <span style="--i:4">u</span>
      <span style="--i:5">t</span>
      <span style="--i:6"> </span>
      <span style="--i:6"> </span>
      <span style="--i:6"> </span>
      <span style="--i:7">U</span>
      <span style="--i:8">s</span></p>
     </div>
       <hr>

    <p class="lead">
        <br>
        Greetings, esteemed audience,<br>
<br>
<p class="reveal">
Find My Bus is a revolutionary website that has redefined public transportation by allowing users to track their bus in real-time, providing them with the much-needed peace of mind and helping them plan their commute more efficiently. With this website, users never again have to worry about missing their bus or standing outside in inclement weather, waiting for it to arrive.<br>
<br></p>
<p class="reveal">
One of the hallmarks of Find My Bus is its user-friendly interface. The website is designed with simplicity and intuitiveness in mind, making it easy for users to navigate and track their buses. Whether you are an experienced commuter or a first-time user, you will find the website effortless to use.<br>
<br></p>
<p>
Moreover, the website's accuracy is exceptional. Find My Bus provides users with up-to-date information on bus locations and arrival times, guaranteeing the latest information is at their disposal. This information ensures users can plan their commutes with confidence and arrive at their destinations on time.<br>
<br></p>
<p class="reveal">
Find My Bus is more than just a website. It is an exceptional tool that offers users control over their commutes, making their daily transportation experience easier and stress-free. By using our website, users can save time, reduce stress, and transform their daily commutes into enjoyable experiences.<br>
<br></p>
<p class="reveal">
Whether you are a student, a professional, or a public transportation user, I highly recommend that you give Find My Bus a try. With our website, you can take the guesswork out of your commute and enjoy a seamless, stress-free journey.<br>
<br></p>
<p class="reveal">
In conclusion, I thank you for your attention and your interest in Find My Bus. Join us today and let us help you make your daily commute experience smoother and more enjoyable.
</p>
    <hr>
    <h2 class="animate-charcter">Our Team</h2>
    <div class="row">
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
                <img class="card-img-top" src="static/team.jpg" alt="">
                <div class="card-body">
                    <h4 class="card-title animate-charcter">From the Classroom to the Community</h4>
                    <p class="card-text"> From a small group of college students who wanted to improve transportation for their community, Find My Bus has grown into a successful project thanks to our talented team of experts. With a shared passion for innovation and a commitment to excellence, our team has developed cutting-edge technology that's changing the way we navigate public transportation. Whether you need real-time bus tracking or other exciting features, our team has the skills and expertise to deliver exceptional results. Get to know us better and see how we can help you take your transportation experience to the next level.</p>
                </div>
            </div>
        </div>
        
        <div class="col-lg-4 col-md-6 mb-4">
          <a href="https://github.com/akashghosh256/Find_My_Bus" target="_blank"  style="text-decoration: none">
            <div class="card h-100">
                <img class="card-img-top" src="static/github.jpg" alt="">
                <div class="card-body">
                    <h4 class="card-title animate-charcter">Github</h4>
                    <p class="card-text" >Contributing to the Find My Bus project on GitHub is a great way to help improve the real-time tracking and journey planning platform for commuters. You can report issues, contribute code, improve documentation, spread the word, and make a positive impact on the lives of people who rely on public transportation. Thank you for considering contributing to our open-source project!</p>
                </div>
            </div></a>
        </div>
    
        
<!-- -------------------------------------------------------------------------------------------------- -->
<style>

/* About Us style */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


.waviy1 {
  position: relative;
}
.waviy1 span {
  position: relative;
  display: inline-block;
  font-size: 3rem;
  color: #000000;
  /* text-transform: uppercase; */
  animation: flip 3s;
  animation-delay: calc(.3s * var(--i));

}
@keyframes flip {
  0%,80% {
    transform: rotateY(360deg) 
  }
}

/* colorful text */
.animate-charcter
{
    text-align: center;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
  font-size: 30px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
  </style>

 {% include 'footer.html' %}

