
  
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top" >
    <p class="col-md-4 mb-0 text-body-secondary">&copy; 2023 FindMyBus, Inc</p>

    
    <ul class="nav col-md-4 justify-content-end">
      <li class="nav-item"><a href="/" class="nav-link px-2 text-body-secondary">Home</a></li>
      <li class="nav-item"><a href="/about" class="nav-link px-2 text-body-secondary">About</a></li>
      <li class="nav-item"><a href="/help" class="nav-link px-2 text-body-secondary">Help</a></li>
    </ul>
  </footer>
</div>