<style>
  .space {
    margin-bottom: 16px;
  }
</style>
<!-- 
<div class="card  d-flex border-4 border-secondary">
  <div class="card-body">
<form>
  <h1 class="animate__heartBeat text-center">Search Here</h1>
    <div class="form-row">
      <div class="col-md-6 mb-3">
        <label for="departure">Departure</label>
        <input type="text" class="form-control" id="departure" placeholder="Enter departure city or location" required>
      </div>
      <div class="col-md-6 mb-3">
        <label for="destination">Destination</label>
        <input type="text" class="form-control" id="destination" placeholder="Enter destination city or location" required>
      </div>
    </div>
    <button class="btn    btn-outline-dark px-3 col-md-6 text-center" type="submit">Find Bus Routes</button>
  </form>


</div>
</div> -->



<div class="card  d-flex border-3 border-secondary  center">
  <div class="card-body">
    <form>
      <!-- <h1 class="animate__heartBeat text-center"><i class="bi bi-search"></i>  Search Here</h1> -->
      
      <div class="waviy text-center"><p>
        <span style="--i:0"><i class="bi bi-search"></i></span>
        <span style="--i:6"> </span>
        <span style="--i:6"> </span>
        <span style="--i:1">S</span>
        <span style="--i:2">e</span>
        <span style="--i:3">a</span>
        <span style="--i:4">r</span>
        <span style="--i:5">c</span>
        <span style="--i:6">h</span>
        <span style="--i:7"> </span>
        <span style="--i:7"> </span>
        <span style="--i:8"> </span>
        <span style="--i:9">H</span>
        <span style="--i:10">e</span>
        <span style="--i:11">r</span>
        <span style="--i:12">e</span>
        <span style="--i:13">!</span>

      </p>
       </div>
      
      <hr>
      <div class="text-center space">
        <label for="departure">Departure</label>
      </div>
      <div>
        <input type="text" class="form-control space text-center" id="departure" placeholder="Enter departure city or location" required>
      </div>
      <div class="text-center space">
        <label for="destination">Destination</label>
        <div>
          <div>
            <input type="text" class="form-control space text-center" id="destination" placeholder="Enter destination city or location"
              required>
          </div>

          <button class="btn    btn-dark px-3 col-md-6 text-center space" type="submit">Find Bus Routes</button>
    </form>

</div>
  </div>
</div>