<style>
 #banner {
         height: 360px;
         width: 100%;
         object-fit: cover;
         margin-bottom: 16px;
      }
/* body{
    background-image: url('https://www.extensiv.com/hs-fs/hubfs/careeers-right-fit.png?width=1272&height=1272&name=careeers-right-fit.png');
    background-repeat: no-repeat;
    background-size: 720px auto;
    /* height: 360px;
         width: 100%;
         object-fit: cover;
         margin-bottom: 16px;

} */

</style>

<div class="address">
<form>
    <img class="img-fluid" id="banner"
         src="static/bus_banner.jpg">
    <div class="form-row">
      <div class="col-md-6 mb-3">
        <label for="departure">Departure</label>
        <input type="text" class="form-control" id="departure" placeholder="Enter departure city or location" required>
      </div>
      <div class="col-md-6 mb-3">
        <label for="destination">Destination</label>
        <input type="text" class="form-control" id="destination" placeholder="Enter destination city or location" required>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-6 mb-3">
        <label for="date">Date</label>
        <input type="date" class="form-control" id="date" required>
      </div>
      <div class="col-md-6 mb-3">
        <label for="time">Time</label>
        <input type="time" class="form-control" id="time" required>
      </div>
    </div>
    <button class="btn btn-dark rounded-pill px-3 col-md-6" type="submit">Find Bus Routes</button>
  </form>
  </div>