{% include "bootstrap.html" %}

{% include "nav.html" %}

<title>Help</title>
<style>
   
    #banner {
       height: 320px;
       width: 100%;
       object-fit: cover;
       margin-bottom: 16px;
    }
 </style>
<div class="container">
    <h1 class="text-center mb-5 animate__heartBeat"><p>Find My Bus Help  <i class="bi bi-signal"></i> </p></h1>
    <hr>
    <img class="img-fluid" id="banner" src="static/email.jpg">
      
      <div class="row">
        <div class="col-md-6 mb-4 mb-md-0">
        <div class="card p-4 bg-primary text-white">
            <h2 class="mb-4"><p>What is Find My Bus?</p></h2>
            <p class="lead mb-4">Find My Bus is a website where you can search for your bus 
              by route.</p>
            <a href="/" class="btn btn-light">Get Started</a>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card p-4 bg-secondary text-white">
            <h2 class="mb-4"><p>How do I use Find My Bus?</p></h2>
            <p class="lead mb-4">To use Find My Bus, simply enter your bus route
              into the search bar on the home page. </p>
            <a href="/" class="btn btn-light">Search Now</a>
          </div>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-md-6 mb-4 mb-md-0">
          <div class="card p-4 bg-dark text-white">
            <h2 class="mb-4"><p>Is Find My Bus free to use?</p></h2>
            <p class="lead mb-4">Yes, Find My Bus is completely free to use. 
              You don't need to create an account or pay any fees to access the website.</p>
            <a href="/about" class="btn btn-light">Learn More</a>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card p-4 bg-info text-white">
            <h2 class="mb-4"><p>What if I can't find my bus?</p></h2>
            <p class="lead mb-4">If you can't find your bus on the website, 
              it's possible that the bus details for that particular route are not available. 
        In this case, we recommend contacting your local 
              bus service provider for more information.</p>
            <a href="https://twitter.com/_FindMyBus_" target="_blank" class="btn btn-light">Contact Us</a>
          </div>
        </div>
      </div>
    </div>




{% include "footer.html" %}