{% extends 'base.html' %}

{% block css %}
    <link rel="stylesheet" href="static\\home.css">
{% endblock %}

{% block title %}
    FindMyBus-Home
{% endblock %}

{% block content %}
<div class="text-center mt-4 mb-4">
    <h2>CONVENIENCE ON-THE-GO.</h2>
    <hr>
</div>
<div class="row mb-4">
    <div class="col-md-6">
        <p class="lead">
            Are you looking for a Bus ?<br>
            Aha! we got you covered <b>FindMyBus is the best place to find your Bus.</b><br>
            But we can't promise to get your bus pick-up from your door steps :) <br>
            But we can help you to find your bus and get you to your destination. <br>
            Just enter your location along with your destination and we will do the rest for you.<br>
        </p>
    </div>
</div>

<div class="d-flex align-items-center justify-content-center">
    <form method="POST" action="{{ url_for('search') }}" class="mx-auto">
        <div class="form-group">
          <label for="origin">Origin:</label>
          <select class="form-control mr-2" name="origin" id="origin">
            {% for o in unique_origins %}
              <option value="{{ o }}">{{ o }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="form-group">
          <label for="destination">Destination:</label>
          <select class="form-control mr-2" name="destination" id="destination">
            {% for d in unique_destinations %}
              <option value="{{ d }}">{{ d }}</option>
            {% endfor %}
          </select>
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
      </form>
</div>

{% endblock %}



