<!DOCTYPE html>
<html>

<head>
   <title>Find My Bus</title>
   {% include 'bootstrap.html' %}

</head>

<body>
   {% include 'nav.html' %}
   
   <div class="container">
      <h1 class=" fst-italic fw-normal text-center mt-0  mb-2 animate__heartBeat" style="@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@300&family=Roboto:ital,wght@1,100&display=swap');"> Find My Bus</h1>
      <div class="reveal">
         {% include 'image_slides.html' %}
      </div>
      <!-- <h1 class="animate__bounce">test text</h1> -->
      <div class="reveal">
         {% include 'form.html' %}
      </div>

      <div class="reveal">
         <!-- <h2 class="text-center mt-4 mb-4 animate__flash" class="animate__heartBeat">CONVENIENCE ON-THE-GO.</h2> -->
         <div class="text-center mt-4 mb-4 ">
            <h2 class="track animate__heartBeat mt-4">Live Location </h2>
            <hr>
         </div>
         <div class="row" style="margin-bottom: 16px;">
            <div class="col-md-6">
               <img src="static/map.jpg" class="img-fluid" style="height: 360px;
               width: 100%;
               object-fit: cover;
               margin-bottom: 16px;">
            </div>

            <div class="col-md-6">
               <p class="lead">
                  Live Location Block allows you to see the real-time location of your bus 
                  on a map. This means you'll no longer have to wait at the bus stop 
                  wondering when your bus will arrive or if you've missed it. With 
                  Live Location Block, you'll have the power to track your bus and 
                  plan your journey accordingly.<br>

To use this feature, simply open Find My Bus. You'll see a live map of your 
bus route with an icon representing the location of your bus. 
As the bus moves along its route, the icon will update in real-time 
to show you its exact location.
 It's our way of making your daily commute more efficient, convenient, and stress-free.<br></p>
 <p class="text-center"><a   href="/track" class="btn btn-dark px-4 col-md-4 text-center space" type="submit"> Track Here</a>
 </p>
            </div>


            
         </div>
      </div>



      <div class="reveal">
         <!-- <h2 class="text-center mt-4 mb-4 animate__flash" class="animate__heartBeat">CONVENIENCE ON-THE-GO.</h2> -->
         <div class="text-center mt-4 mb-4 ">
            <div class="track">
            <h2 class="animate__heartBeat ">CONVENIENCE ON-THE-GO.</h2></div>
            <hr>
         </div>
         <div class="row" style="margin-bottom: 16px;">
            <div class="col-md-6">
               <img src="static/girl.jpg" class="img-fluid" style="height: 360px;
               width: 100%;
               object-fit: cover;
               margin-bottom: 16px;">
            </div>
            <div class="col-md-6">
               <p class="lead">
                  Are you looking for a Bus ?<br>
                  Aha! we got you covered <b>FindMyBus is the best place to find your Bus.</b><br>
                  But we can't promise to get your bus pick-up from your door steps :) <br>
                  But we can help you to find your bus and get you to your destination. <br>
                  Just enter your location along with your destination and we will do the rest for you.<br>
               </p>
            </div>

           

         </div>
      </div>
     




      <div class="reveal">
         {% include 'footer.html' %}
      </div>
   </div>

   
</body>

</html>


<script>
   ScrollReveal().reveal('.track', {
      delay: 500
   });
</script>