{% include "bootstrap.html" %}

{% include "nav.html" %}


<head>
    <title>Track</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
        integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
        crossorigin="" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />
    <style>
        body {
            margin: 0;
            padding: 0;
        }

        #map {
            width: 100%;
            height: 70vh;
        }
    </style>


<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />


</head>

<body>
     <div class="result">
    
        Your location is updated in every 5 seconds<br>
        Distance :
        

        <span id="length"></span>
    </div>
    <div id="map"></div>
    <div class="container mt-4">
        <div class="alert alert-info" role="alert">
          <strong>Note:</strong> The accuracy of the map displayed on this pages depends on OpenStreetMap, not us. We cannot guarantee its accuracy or completeness.
        </div>
      </div>
     {% include 'footer.html' %}
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin=""></script>
    <script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>








  <script src="static/mapscript.js"></script>

</body>

</html>